body {
    background-image: url("../img/1078877.jpg");
    background-color: rgb(49, 49, 48);
    font-family: Verdana;
    height: 300px;
    margin: 30px;
    background-size: cover;
  } 
  
  .fondoTexto{
    background-color:  rgba(28, 28, 28,0.8);
    border: 2px solid rgb(158, 153, 153);
    padding: 10px;
  }

  h2.tamFuente{
    font-size: 15px;
  }

  .margenh2{
    margin: 5px;
    margin-left:500px;
    margin-right:500px ;
  }
  
  .color{
    color: rgb(158, 153, 153);
  }

  a.linkBoton{
    color: rgb(158, 153, 153);
    background-color:  rgba(28, 28, 28,0.8);
    border: 2px solid rgb(158, 153, 153);
    padding: 10px;
    display: inline-block;
  }

  a:hover,a:active{
    background-color: black;
  }

  .textoCentradoColor{
    color: rgb(158, 153, 153);
    text-align: center;  
  }
